<div class="container">
    <div class="d-flex justify-content-end">
        <button class="btn btn-danger" (click)="goBack()">Regresar</button>
    </div>
    <div class="card-body mt-5">
        <div class="row mb-5 animate__animated animate__fadeIn animate__delay-1s">
            <div class="col-lg-5 col-md-5 col-sm-6">
                <img class="img-fluid" [src]="character.image" [alt]="character.name">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-6 mt-3 text-white">
                <h6>Nombre: <span class="fw-normal text-muted">{{ character.name }}</span></h6>
                <h6>Especie: <span class="fw-normal text-muted">{{ character.species }}</span></h6>
                <h6>Género: <span class="fw-normal text-muted">{{ character.gender }}</span></h6>
                <h6>Estatus: <span class="badge rounded-pill" [ngClass]="{'bg-success': character.status === 'Alive',
                                                                          'bg-danger': character.status === 'Dead',
                                                                          'bg-secondary': character.status === 'unknown'}">{{ character.status }}</span></h6>
                <h6>Fecha de creación: <span class="fw-normal text-muted">{{ character.created | date }}</span></h6>
                <h6>Origen: <span class="fw-normal text-muted">{{ character.origin.name }}</span></h6>
                <h6>Localización: <span class="fw-normal text-muted">{{ character.location.name }}</span></h6>

            </div>
        </div>
    </div>
</div>