<div class="row flex-lg-row-reverse align-items-center animate__animated animate__fadeIn animate__delay-1s">
    <div class="col-10 col-sm-8 col-lg-6">
        <img src="assets/img/Rick_and_Morty_banner.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6 text-white">
        <h1 class="display-5 fw-bold lh-1 mb-3">Rick and Morty</h1>
        <p class="lead">
            Rick y Morty es una serie de televisión de animación para adultos creada por Justin Roiland y Dan Harmon en 2013 para «Adult Swin». Esta serie cuenta las aventuras de Rick, un científico loco, egoísta y alcohólico que, junto a su nieto Morty, viven momentos
            que mezclan problemas familiares junto a viajes en el tiempo, intergalácticos o, incluso, a través del tiempo. Todo esto se vive a través de una base de humor negro y sátira profunda a la sociedad que, al tratarse de un contenido más adulto,
            encaja a la perfección con su público objetivo.
        </p>
    </div>
</div>